AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: True
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: False
AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: False
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: False
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: False
BinPackParameters: False
BitFieldColonSpacing: Both
BraceWrapping:
  AfterCaseLabel: True
  AfterClass: True
  AfterControlStatement: Always
  AfterEnum: True
  AfterFunction: True
  AfterNamespace: True
  AfterStruct: True
  AfterUnion: True
  AfterExternBlock: True
  BeforeCatch: True
  BeforeElse: True
  BeforeLambdaBody: True
  BeforeWhile: True
  IndentBraces: False
  SplitEmptyFunction: False
  SplitEmptyRecord: False
  SplitEmptyNamespace: False
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: True
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: False
ColumnLimit: 0
CompactNamespaces: False
Cpp11BracedListStyle: False
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: False
IncludeBlocks: Preserve
IndentAccessModifiers: False
IndentCaseBlocks: True
IndentCaseLabels: True
IndentExternBlock: AfterExternBlock
IndentGotoLabels: False
IndentPPDirectives: AfterHash
IndentWidth: 4
IndentWrappedFunctionNames: True
KeepEmptyLinesAtTheStartOfBlocks: False
LambdaBodyIndentation: Signature
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PPIndentWidth: 1
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'type']
ReferenceAlignment: Left
ReflowComments: False
SeparateDefinitionBlocks: Always
SortIncludes: CaseInsensitive
SortUsingDeclarations: True
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: False
SpaceAfterTemplateKeyword: False
SpaceBeforeAssignmentOperators: True
SpaceBeforeCaseColon: False
SpaceBeforeCpp11BracedList: False
SpaceBeforeCtorInitializerColon: True
SpaceBeforeInheritanceColon: True
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: True
SpaceBeforeSquareBrackets: False
SpaceInEmptyBlock: False
SpaceInEmptyParentheses: False
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInCStyleCastParentheses: False
SpacesInConditionalStatement: False
SpacesInContainerLiterals: True
SpacesInParentheses: False
SpacesInSquareBrackets: False
Standard: Latest
TabWidth: 4
UseCRLF: True
UseTab: AlignWithSpaces
